body{
    font-family: 'Karla';
    background-color:hsl(148, 38%, 91%);
    width: 100%;
    height: 100vh;
    

}
form{
    background-color: white;
    width: 50%;
    height: 85vh;
    margin: auto;
    padding: 40px;
    border-radius: 15px;
    font-family: 'karla';
    margin-top: 50px;
    margin-bottom: 50px;
    box-sizing: border-box;
    /* overflow: hidden; */
    /* padding-top: -70px; */
    top:0;   
   
}
.name{
   display: flex;
   justify-content: space-between;
   gap:20px;
   
   /* padding-bottom:20px ; */
   

   
    
}

.name-child{
    flex-basis: 50%;
}
.name input{
    border-radius: 5px;
    border: 1px solid hsl(186, 15%, 59%) ;
    height: 5vh;
  width: 100%;

}
.query{
    display: flex;
    gap:10px;
   
}
.query-type{
    display: flex;
    flex-direction: column;
    gap:10px;
    
}
fieldset{
    border: 1px solid hsl(186, 15%, 59%)
    ;
    border-radius: 5px;
    width: 50%;
    height: 5vh;
    display: flex;
    align-items: center;
    
}
.space{
    display: flex;
    gap:8px;
}


/*.space:nth-child(2){
    color:aqua;
    font-size: 50px;
}*/
button{
    color: white;
    background-color:hsl(169, 82%, 27%);
    border: 1px solid;
    width: 100%;
    height: 6vh;
    /* margin: 20px; */
   margin-bottom: 20px;
   margin-top: 20px;
    border-radius: 8px;
}
.message-part input{
width: 100%;
height: 10vh;
border-radius: 5px;
border: 1px solid hsl(186, 15%, 59%)
;

}
.checkbox{
    margin-top: 20px;
}
.address-mail input{
    width: 100%;
    height: 5vh;
    border: 1px solid hsl(186, 15%, 59%)
    ;
    border-radius: 5px;
    
    }
    fieldset:hover{
        border:1px solid hsl(169, 82%, 27%);
        background-color:  hsl(148, 38%, 91%);
        color: black;
    }
    button:hover{
        background-color:rgb(6, 51, 32)
    }
   
    